@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputs {
    @apply  px-2
    text-right text-zinc-300 hover:text-zinc-800 focus:text-zinc-800 font-semibold
    rounded-xl
    border-2 border-zinc-900 hover:border-zinc-600 focus:border-zinc-600
    bg-zinc-700 hover:bg-zinc-400 focus:bg-zinc-200
  }
  .buttons {
    @apply  mt-2 px-2 py-1
    text-center text-zinc-100 hover:text-zinc-800 focus:text-zinc-800 font-semibold
    rounded-xl
    border-2 border-zinc-900 hover:border-zinc-600 focus:border-zinc-300 
    bg-violet-900 hover:bg-violet-400 focus:bg-violet-700
  }
  .unable-buttons {
    @apply mt-2 px-2 py-1 cursor-not-allowed 
    text-center text-gray-400 font-semibold
    rounded-xl
    border-2 border-zinc-900
    bg-gray-700
  }
  .normal-text {
    @apply px-2
    text-zinc-400 text-center font-semibold text-lg
  }
  .list {
    @apply bg-zinc-500 rounded-xl p-2 flex flex-col gap-2
  }
  .item-list {
    @apply hover:text-zinc-100 bg-zinc-700 hover:bg-violet-700 px-2 rounded-xl
  }
  .toast {
    @apply py-2
    rounded-2xl
    border-4 border-violet-400
    bg-zinc-600
    z-50
    absolute bottom-4
    w-[70%] left-[15%]
    sm:w-[50%] sm:left-[25%]
    md:w-[40%] md:left-[30%]
    lg:w-[30%] lg:left-[35%]
    2xl:w-[26%] xl:left-[38%]
    flex flex-col gap-2 items-center
  }
  .titleToast {
    @apply px-2 
    text-zinc-400 text-center font-extrabold 
    rounded-3xl
    bg-zinc-800
    w-[95%]
    flex items-center justify-between
  }
  .messageToast {
    @apply px-2
    text-zinc-400 text-center font-semibold text-lg
    rounded-md
    bg-zinc-800
    w-[91%]
  }
  .modal {
    @apply 
    rounded-2xl 
    bg-zinc-600
    min-w-[100px] min-h-[115px] z-50
    absolute top-[25%]
    w-[70%] left-[15%]
    sm:w-[50%] sm:left-[25%]
    md:w-[40%] md:left-[30%]
    lg:w-[30%] lg:left-[35%]
    2xl:w-[26%] xl:left-[38%]
    flex flex-col gap-2 items-center
  }
  /* Aplicações */
  /* SMA */
  .smaPageTitle {
    @apply text-3xl font-black flex justify-center py-2
  }
  .smaSeparator {
    @apply bg-slate-700 w-[95%] mx-auto h-[2px] my-1 rounded-full
  }
  .smaInputs {
    @apply px-2 border-2 border-slate-300 rounded-lg
  }
  .smaButtons {
    @apply w-full max-w-[300px] hover:font-semibold border-2 bg-slate-100 hover:bg-lime-100 border-slate-300 hover:border-lime-600 rounded-lg
  }
  .smaForm {
    @apply bg-slate-500 w-[95%] mx-auto border-2 border-slate-500 rounded-lg p-2 flex  flex-col justify-between gap-2
  }
  .smaList {
    @apply bg-slate-500 w-[95%] mx-auto border-2 border-slate-500 rounded-lg p-2 flex justify-between gap-2
  }
  .alertText {
    @apply text-orange-600 text-sm font-semibold flex items-center gap-2
  }
  .successText {
    @apply text-lime-600 text-sm font-semibold flex items-center gap-2
  }
  /* AboutMe */
  .abMeBg {
    @apply bg-zinc-900 w-full h-full flex gap-1 mr-1
  }
  .abMeSidebarOpen {
    @apply bg-zinc-500 max-w-[50%] min-w-[50%] mx-auto rounded-r-2xl pl-2 pr-1 pt-1 pb-2 text-center flex gap-1
  }
  .abMeSidebarClosed {
    @apply bg-zinc-500 max-w-[40%] mx-auto rounded-r-2xl pl-2 pr-1 pt-1 pb-2 text-right flex gap-1
  }
  .abMeSidebarOpenButtonsList {
    @apply w-full flex flex-col gap-1
  }
  .abMeSidebarOpenCloseButton {
    @apply hover:bg-zinc-400 w-[10%] max-w-[30px] rounded-r-2xl flex justify-center items-center
  }
  .abMeSidebarClosedOpenButton {
    @apply hover:bg-zinc-400 w-full rounded-r-2xl flex justify-center items-center
  }
  
  /* DevArea */
  .devaBg {
    @apply bg-zinc-900 w-full h-full py-1 flex gap-1
  }
  .devaTopic {
    @apply bg-zinc-500 w-[98%] mx-auto rounded-2xl px-2 pt-1 pb-2 text-center flex flex-col gap-1
  }
  .devaItem {
    @apply bg-zinc-300 w-[99%] mx-auto rounded-2xl px-2 py-1
  }

}