@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .smaPageTitle {
    @apply text-3xl font-black flex justify-center
  }
  .smaSeparator {
    @apply bg-slate-700 w-[95%] mx-auto h-[2px] my-1 rounded-full
  }
  .smaInputs {
    @apply px-2 border-2 border-slate-300 rounded-lg
  }
  .smaButtons {
    @apply w-full max-w-[300px] hover:font-semibold border-2 bg-slate-100 hover:bg-lime-100 border-slate-300 hover:border-lime-600 rounded-lg
  }
  .smaForm {
    @apply bg-slate-500 w-[95%] mx-auto border-2 border-slate-500 rounded-lg p-2 flex justify-between gap-2
  }
}